@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
    @apply font-semibold;
  }
  h5 {
    @apply text-lg;
    @apply font-semibold;
  }
  h6 {
    @apply text-sm;
    @apply font-semibold;
  }

  ul,
  ol {
    list-style: revert;
  }
}

/* width */
.codeDropdown::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.codeDropdown::-webkit-scrollbar-track {
  background: #c7c7c7;
  border-radius: 3px;
}

/* Handle */
.codeDropdown::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

.fade-strip-horizontal {
  @apply from-fade-start-color to-fade-end-color w-full h-[250px] max-w-full absolute z-30;
}

.fade-strip-vertical {
  @apply from-fade-start-color to-fade-end-color h-full w-[250px] max-h-full absolute z-30;
}
.fade-strip-top {
  @apply bg-gradient-to-b fade-strip-horizontal top-0;
}
.fade-strip-bottom {
  @apply bg-gradient-to-t fade-strip-horizontal bottom-0;
}
.fade-strip-left {
  @apply bg-gradient-to-r fade-strip-vertical left-0;
}
.fade-strip-right {
  @apply bg-gradient-to-l fade-strip-vertical right-0;
}

.presentationFade {
  @apply from-[#13131380] to-[#131313] bg-gradient-to-b;
}

.get-in-touch-border {
  @apply border border-solid border-get-in-touch-border bg-get-in-touch backdrop-blur-lg rounded-full;
}

.get-in-touch-client-border {
  @apply border border-solid border-get-in-touch-client-border bg-get-in-touch-client rounded-full;
}

.constructor-model-picker-border {
  @apply border-2 rounded-xl border-solid border-[#252525];
}

.constructor-model-picker-selected-outline {
  @apply outline-2 rounded-xl outline outline-base-red;
}

.constructor-model-picker-selected-border {
  @apply border-2 rounded-xl border-solid border-base-red;
}
