@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .blog_post_content h1 {
    @apply text-4xl;
    @apply font-bold;
    margin-bottom: 20px;
  }
  .blog_post_content h2 {
    @apply text-3xl;
    @apply font-bold;
    margin-bottom: 20px;
  }
  .blog_post_content h3 {
    @apply text-2xl;
    @apply font-bold;
    margin-bottom: 20px;
  }
  .blog_post_content h4 {
    @apply text-xl;
    @apply font-semibold;
    margin-bottom: 20px;
  }
  .blog_post_content h5 {
    @apply text-lg;
    @apply font-semibold;
    margin-bottom: 20px;
  }
  .blog_post_content h6 {
    @apply text-sm;
    @apply font-semibold;
    margin-bottom: 20px;
  }

  .blog_post_content ul,
  .blog_post_content ol {
    list-style: revert;
    padding: 0 20px;
    font-size: clamp(16px, 1.5vw, 20px);
  }

  .blog_post_content p {
    font-size: clamp(16px, 1.5vw, 20px);
  }

  .blog_post_content blockquote {
    font-size: clamp(16px, 1.5vw, 20px);
  }

  .blog_post_content blockquote::before {
    content: "\201c";
  }

  .blog_post_content blockquote::after {
    content: "\201d";
  }
}

.manufacturer_stroke {
  text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.blog_post_content p {
  margin-bottom: 15px;
  line-height: 150%;
  font-size: clamp(16px, 1.5vw, 20px);
}

.blog_post_content img {
  margin: 0 auto;
}

.blog_post_content a:hover {
  margin-bottom: 15px;
  line-height: 150%;
  font-size: clamp(16px, 1.5vw, 20px);
}

.blog_post_content a {
  color: red;
}

.awards .splide__track {
  overflow: visible;
}

.awards .splide__slide:hover {
  z-index: 10;
}

/* width */
.codeDropdown::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.codeDropdown::-webkit-scrollbar-track {
  background: #c7c7c7;
  border-radius: 3px;
}

/* Handle */
.codeDropdown::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.bensPopUp::-webkit-scrollbar {
  width: 3px;
  border-radius: 3px;
}

/* Track */
.bensPopUp::-webkit-scrollbar-track {
  background: #c7c7c7;
  border-radius: 3px;
}

/* Handle */
.bensPopUp::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #000;
  color: white;
  /* overflow-x: hidden; */
}

/* country code selector */
.listItem:hover {
  color: black;
}

.dropdownContainer::-webkit-scrollbar {
  width: 3px;
}

.dropdownContainer::-webkit-scrollbar-track {
  background: #c7c7c7;
  border-radius: 3px;
}

.dropdownContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.sliderScroll::-webkit-scrollbar {
  display: none;
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(
      144deg,
      #f60109 0%,
      rgb(49 9 10 / 73%) 27%,
      rgb(49 9 10 / 73%) 51%,
      rgb(246 1 9 / 10%) 80%,
      #f60109 100%
    )
    border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@media (max-width: 768px) {
  .gradient-border-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid transparent;
    background: #191919;
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}

.fade-strip-horizontal {
  @apply from-fade-start-color to-fade-end-color w-full h-[250px] max-w-full absolute z-30;
}

.fade-strip-vertical {
  @apply from-fade-start-color to-fade-end-color h-full w-[250px] max-h-full absolute z-30;
}
.fade-strip-top {
  @apply bg-gradient-to-b fade-strip-horizontal top-0;
}
.fade-strip-bottom {
  @apply bg-gradient-to-t fade-strip-horizontal bottom-0;
}
.fade-strip-left {
  @apply bg-gradient-to-r fade-strip-vertical left-0;
}
.fade-strip-right {
  @apply bg-gradient-to-l fade-strip-vertical right-0;
}

.presentationFade {
  @apply from-[#13131380] to-[#131313] bg-gradient-to-b;
}

.textShadow {
  background: -webkit-linear-gradient(#ffffff, #ffffff, #ffffff, #6d6b6b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mainPageTextShadow {
  text-shadow: 3px 5px 8px black;
}

.get-in-touch-border {
  @apply border border-solid border-get-in-touch-border bg-get-in-touch backdrop-blur-lg rounded-full;
}

.get-in-touch-client-border {
  @apply border border-solid border-get-in-touch-client-border rounded-full [background:radial-gradient(50%_49.12%_at_50%_100%,rgba(255,255,255,0.10)_0%,rgba(255,255,255,0.00)_100%),var(--Shades-Dark-2,#191919)];
}
